{%- if product.handle == "booking" -%}
{%- assign thumbIndex = 0 -%}
{%- assign thumbIndexNum = 0 -%}
<article id="booking" class="page-booking">
  <div class="contents_wrapper">
    <div class="contents_detail">
      <section class="section-main">
        <div id="imgthumb" class="comp-main-slider">
          <!-- <div class="thumb_number">
            <span id="currentThumb" class="current">1</span>
            <span id="allThumb">10</span>
          </div> -->
          <button id="slideNext" class="slide_caret slide_next"></button>
          <button id="slidePrev" class="slide_caret slide_prev"></button>
          <div id="slideWrap" class="slide_wrap">
            <img id="thumbBox" src="{{ product.media[0] | image_url: width: 1200 }}" style="height: auto;">
          </div>
          <div id="thumbList" class="thumb_list">
            {% for image in product.images %}
              <button class="{% if thumbIndex == 0 %}active_thumb{% endif %}"><img loading="lazy" src="{{ image.src | image_url: width: 1200 }}" srcset="{{ image.src | image_url: width: 1200 }} 1440w, {{ image.src | image_url: width: 760 }} 768w, {{ image.src | image_url: width: 1200 }} 2048w" style="height: auto;">
              </button>
              {%- assign thumbIndex = thumbIndex | plus: 1 -%}
            {% endfor %}
          </div>
        </div><!-- comp-main-slider -->
        <div class="main_desc">
          <h1 class="comp-bokking-title">bokuyaレストラン</h1>
          <div class="desc_wrap">
            <p>高原レストランbokuyaは完全予約制の野外レストランです。八ヶ岳と自然の雄大さを楽しんでいただくため、できる限りシンプルにと草原にタープとテーブルを並べました。</p>
            <p>そのため、荒天には弱く、雨風でお客様に楽しんでいただけないと判断した場合、ご予約を頂いている場合でもオープンしない日もありますのでご理解の上でご予約ください。</p>
          </div>
          <div class="comp-detail-list">
            <div class="list_item">
              <h2 class="item_ttl flex">
                <span class="icon"><img src="https://cdn.shopify.com/s/files/1/0551/0794/4503/files/icon01.svg?v=1662226831"></span>
                <span class="txt">オープンスケジュール</span>
              </h2>
              <div class="item_detail">
                <p>2022年9月、10月の土日、祝日<br>2023年ゴールデンウィーク、7月～10月予定<span class="small">※予約カレンダーにて空き状況をご確認ください。</span></p>
              </div>
            </div>
            <div class="list_item">
              <h3 class="item_ttl flex">
                <span class="icon"><img src="https://cdn.shopify.com/s/files/1/0551/0794/4503/files/icon02.svg?v=1662226831"></span>
                <span class="txt">営業時間</span>
              </h3>
              <div class="item_detail">
                <p>11:00～14:00<br><span class="small">※13:00までにご来店ください。</span></p>
              </div>
            </div>
            <div class="list_item">
              <h3 class="item_ttl flex">
                <span class="icon"><img src="https://cdn.shopify.com/s/files/1/0551/0794/4503/files/icon03.svg?v=1662226831"></span>
                <span class="txt">所在地</span>
              </h3>
              <div class="item_detail">
                <p>長野県南佐久郡南牧村野辺山</p>
              </div>
            </div>
          </div><!-- comp-detail-list -->
        </div><!-- main_desc -->
      </section>
      <section class="section-cancel">
        <div class="section_inner">
          <h2 class="comp-bokking-title">キャンセルポリシー</h2>
          <div class="comp-detail-list">
            <div class="list_item">
              <h2 class="item_ttl">
                <span class="icon"></span>
                <span class="txt">(1)雨天中止の場合</span>
              </h2>
              <div class="item_detail">
                <p>荒天でオープンできないと判断した場合、前日21時までにキャンセルのご連絡をメールとSMSにてご連絡し、<span class="red">事前決済費用は全額お返し致します。</span></p>
              </div>
            </div>
            <div class="list_item">
              <h2 class="item_ttl">
                <span class="icon"></span>
                <span class="txt">(2)お客様都合のキャンセル</span>
              </h2>
              <div class="item_detail">
                <p>予約日の2日前までにキャンセルいただければ全額返金致します。前日、当日のキャンセルについては連絡の有無にかかわらず<span class="red">一切の返金は致しかねます</span>のであらかじめご了承ください。</p>
              </div>
            </div>
          </div><!-- comp-detail-list -->
        </div><!-- section_inner -->
      </section>
      <section class="section-faq">
        <div class="section_inner">
          <h2 class="comp-bokking-title">よくある質問</h2>
          <div id="faqWrap" class="comp-faq-contents">
            <div class="toggle_item">
              <button class="toggle_button">
                <span class="txt">料理や飲み物の持ち込みはOKですか？</span>
                <span class="status"></span>
              </button>
              <div class="toggle_contents">
                <div class="contents_inner">
                  <p>料理、お飲み物の持ち込みはご遠慮ください。乳幼児のお子様用については問題ありません。</p>
                </div>
              </div>
            </div>
            <div class="toggle_item">
              <button class="toggle_button">
                <span class="txt">雨など天気が悪いときはどうなりますか？</span>
                <span class="status"></span>
              </button>
              <div class="toggle_contents">
                <div class="contents_inner">
                  <p>基本的に雨、風等荒天でオープンできないとこちらで判断した場合、前日にメールとSMSにてご連絡いたします。当日の急な天候不順については、その場で判断し、ご連絡します。</p>
                </div>
              </div>
            </div>
            <div class="toggle_item">
              <button class="toggle_button">
                <span class="txt">予約なしで行ってもいいですか？</span>
                <span class="status"></span>
              </button>
              <div class="toggle_contents">
                <div class="contents_inner">
                  <p>bokuyaはフードロスの観点から食材を無駄にしないため、また地域農家さんへの配慮として予約なしでのご来店をお断りしております。</p>
                </div>
              </div>
            </div>
            <div class="toggle_item">
              <button class="toggle_button">
                <span class="txt">場所はどこですか？</span>
                <span class="status"></span>
              </button>
              <div class="toggle_contents">
                <div class="contents_inner">
                  <p>ご予約いただいたお客様にのみ、位置情報をお伝え致します。</p>
                </div>
              </div>
            </div>
            <div class="toggle_item">
              <button class="toggle_button">
                <span class="txt">レストランにトイレはありますか？</span>
                <span class="status"></span>
              </button>
              <div class="toggle_contents">
                <div class="contents_inner">
                  <p>仮設のトイレ・手洗いがございます。</p>
                </div>
              </div>
            </div>
            <div class="toggle_item">
              <button class="toggle_button">
                <span class="txt">キャンプ泊やBBQは出来ますか？</span>
                <span class="status"></span>
              </button>
              <div class="toggle_contents">
                <div class="contents_inner">
                  <p>高原レストランオープン時は個別のテント張りやBBQは出来ません。その他の時間でご希望がある場合、お問い合わせください。</p>
                </div>
              </div>
            </div>
            <div class="toggle_item">
              <button class="toggle_button">
                <span class="txt">bokuyaの貸し切りやイベントは可能ですか？</span>
                <span class="status"></span>
              </button>
              <div class="toggle_contents">
                <div class="contents_inner">
                  <p>可能です。会場レンタルやキッチンカーの出張も受け付けます。お早めにお問い合わせください。</p>
                </div>
              </div>
            </div>
          </div><!-- comp-faq-contents -->
        </div><!-- section_inner -->
      </section>
    </div><!-- contents_detail -->
    {% include 'booking-form' %}
  </div><!-- contents_wrapper -->
</article>
<div id="fixedButton" class="comp-fixed-button display">
  <div class="cart_inner">
    <button class="fixed_cart_button"><span>レストランを予約する</span></button>
  </div>
</div><!-- comp-fixed-cart-wrap -->
{%- endif -%}



{% assign current_variant = product.selected_or_first_available_variant %}

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": {{ product.title | json }},
  "url": {{ shop.url | append: product.url | json }},
  "image": {{ product.media[2] | img_url: 'master' | json }},
  "description": {{ product.metafields.custom_fields["product_outline"] | strip_html | json }},
  "brand": {
    "@type": "Thing",
    "name": {{ product.vendor | json }}
  },
  "offers": [
      {
        "@type" : "Offer",
        "sku": {{ product.handle | json }},
        "description": {{ product.metafields.custom_fields["product_outline"] | strip_html | strip_newlines | json }},
        {% if product.available %}"availability": "InStock",{% else %}"availability": "OutOfStock",{% endif %}
        "price" : {{ product.price | remove:',' | json }},
        "priceCurrency" : {{ cart.currency.iso_code | json }},
        "priceValidUntil": "2024-12-31",
        "itemCondition": "NewCondition",
        "url" : "https://komons-japan.com/products/{{ product.handle }}"
      }
  ]
}
</script>
